<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedStorageEngine</key>
	<string>wiredTiger</string>
	<key>storageEngines</key>
	<array>
		<string>wiredTiger</string>
		<string>mmapv1</string>
	</array>
	<key>mongodbVersion</key>
	<string>3.0.3</string>
	<key>availableVersions</key>
	<array>
		<string>3.0.3</string>
		<string>2.6.10</string>
		<string>2.4.14</string>
		<string>2.2.7</string>
	</array>
	<key>autoStartup</key>
	<true/>
	<key>autoUpdate</key>
	<true/>
</dict>
</plist>
