html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .logo {
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('./resources/MongoDB-Transparent.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    margin-top: 30px;
    height: 256px;
    width: 256px;
  }

  .controls {
    align-items: flex-end;
    display: flex;
    padding: 10px;

    button {
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      height: 16px;
      width: 16px;

      &.settings {
        background-image: url('./resources/settings-icon.png');
      }

      &.help {
        margin-left: auto;
        background-image: url('./resources/help-icon.png');
      }
    }
  }
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  main {
    .logo {
      background-image: url('./resources/MongoDB-Transparent@2x.png');
    }

    .controls {
      button.settings {
        background-image: url('./resources/settings-icon@2x.png');
      }

      button.help {
        background-image: url('./resources/help-icon@2x.png');
      }
    }
  }
}
